<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= compname %> Strap</title>
    <style>
        .jk{
            border:2px solid black;
        }
    </style>
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <h1>Nanna Hesaru Anmol</h1>
        <p>
            Nanna Hesaru Anmol, Nanu Christ Alli Odhide, Nanna Appa hesaru Nitesh Kuamr Varshney, Nanna Amma hesaru Seema Varshney <br>
            Nanu Passionate and Hard Working
        </p>
        <hr>
        <h1>Havyasa</h1>
        <hr>
        <div class="row">
            <div class="col col-xxl-3 col-lg-6 ">Swimming Madhtini</div>
            <div class="col col-xxl-3 col-lg-6 ">Chess Madhtini</div>
            <div class="col col-xxl-3 col-lg-8 ">Nanu Cha Kuditaidini</div>
            <div class="col col-xxl-3 col-lg-4 ">Nanu Valtech alli kelasa madhtidini</div>
        </div>
        <hr>
        <h1>Programming Languages Gothirodhu</h1>
        <div class="row">
            <ul>
                <li>Python</li>
                <li>HTML</li>
                <li>JAVA</li>
                <li>C</li>
                <li>Cloud Computing</li>
                <li>.NET</li>


            </ul>
        </div>
        <hr>
        

    </div>
</body>
</html>