section{
    height: 300px;
    width: 600px;
    background-color: aqua;
}
article{
    height: 50px;
    width: 50px;
    line-height: 50px;
    margin: 10px;
    display: inline-block;
    background-color: yellow;
    
}
article:nth-child(1){
    background-color: yellowgreen;
}