extends template 
block vars
    - var title = "Home page"

block body
    p Welcome to authorisation and authentication page of Valtech <br>
        a(href="/login") Login Here <br>
        a(href="/register") Register Here <br>
        a(href="/profile") Check your profile   
