extends template 
block vars
    - var title = "Register page"

block body
    br
    h2 Creat an account 
    br
    if err1
        h1 Error #{err1}
    form(method="post")
        div(class="mb-3")
            label(for="firstname" class="form-label") Firstname: 
            input(type="text" class="form-control" name="firstname" required id="firstname" title="Enter the firstname") 
        div(class="mb-3")
            label(for="lastname" class="form-label") Lastname: 
            input(type="text" class="form-control" name="lastname" required id="lastname" ) 

        div(class="mb-3")
            label(for="email" class="form-label") Email: 
            input(type="email" class="form-control" name="email" required id="email") 
        
        div(class="mb-3")
            label(for="password" class="form-label") Password: 
            input(type="password"  class="form-control" name="password" required id="password") 
        div(class="mb-3")
            input(type="submit" value="Register" class="btn btn-primary") 
